[Desktop Entry]
Type=Service
MimeType=application/octet-stream;
Actions=prefixJ;

[Desktop Action prefixJ]
Name=Add [S] Prefix
Icon=edit-rename
Exec=/home/zero/.local/bin/dolphin-prefix-s.sh %F
